<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>
		RosKassa
	</name>
	<settings>
		<variable>roskassa_order_status</variable>
		<name>Статус ордера после оплаты:</name>
		<options>
			<name>новый</name>
			<value>0</value>
		</options>
		<options>
			<name>принят</name>
			<value>1</value>
		</options>
		<options>
			<name>выполнен</name>
			<value>2</value>
		</options>
		<options>
			<name>удален</name>
			<value>3</value>
		</options>
	</settings>
	<settings>
		<variable>roskassa_merchanturl</variable>
		<name>URL мерчанта (укажите //pay.roskassa.net):</name>
	</settings>
	<settings>
		<variable>roskassa_merchantid</variable>
		<name>Идентификатор магазина:</name>
	</settings>
	<settings>
		<variable>roskassa_secret</variable>
		<name>Секретный ключ:</name>
	</settings>
	<settings>
		<variable>roskassa_test_mode</variable>
		<name>Режим тестирования:</name>
		<options>
			<name>Выкл.</name>
			<value>0</value>
		</options>
		<options>
			<name>Вкл.</name>
			<value>1</value>
		</options>
	</settings>
	<settings>
		<variable>roskassa_email</variable>
		<name>Email для оповещений</name>
	</settings>
	<settings>
		<variable>roskassa_log</variable>
		<name>Путь до журнала операций (например, /roskassa_orders.log)</name>
	</settings>
</module>